:root {
  background-color: hsl(218, 23%, 16%);
}
* {
  font-family: "Manrope", sans-serif;
}
p {
  margin: 0%;
}
.container {
  position: relative;
  width: 35em;
  height: 20em;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(217, 19%, 24%);
}
.container q {
  color: hsl(193, 38%, 86%);
  font-weight: 800;
  font-size: 28px;
  text-align: center;
  /* text-wrap: balance; */
  margin: 0.5em;
}
.adviceID {
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  /* font-weight: 800; */
  color: hsl(150, 100%, 66%);
}
.btn {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  position: absolute;
  top: 18.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(150, 100%, 66%);
  /* transition: all 500ms ease-in-out; */
}
.seprator {
  margin: 1.5em 0em 1.5em 0em;
}
.btn:hover {
  animation: glow 1s ease-in-out infinite alternate;
  /* filter: drop-shadow(2px 2px 15px hsl(150, 100%, 66%)); */
  cursor: pointer;
}
@keyframes glow {
  from {
    filter: drop-shadow(2px 2px 5px hsl(150, 100%, 66%));
  }
  to {
    filter: drop-shadow(2px 2px 15px hsl(150, 100%, 66%));
  }
}
